/* Education Page Styles */

/* Main Content */
.edu-content {
    width: 1920px;
    margin: 0 auto;
    padding: 100px 320px 150px;
}

/* Page Title */
.page-title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 70px;
    line-height: 48px;
}

/* Education Image Container */
.edu-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-image {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: block;
}

